
<div class="basic-list">
	<span>Cancellation Policy</span>
	<ul>
		<li>Attendees who cancel 48 hours or more prior to the event will be eligible for a full refund minus a $5.00 processing fee.</li>
		<li>Attendees who cancel 24 hours or more prior to the event will be eligible for a 50% refund.</li>
		<li>Attendees who cancel less than 24 hours before the event will not be eligible for a refund.</li>
		<li>Refunds will be issued via PayPal or credited back to the card used at time of payment.</li>
	</ul>

	<span>Weather Policy</span>
	<ul>
		<li>If an event gets completely weathered out and no skydives are made, a full refund minus a $5 processing fee will be offered to all attendees.</li>
		<li>If at least 50% of the planned jumps are made, attendees will not be eligible for a refund.</li>
		<li>A partial refund will be issued if less than 50% of the planned jumps are made using this formula. ((Planned Jumps–Executed Jumps) * 100 / Planned Jumps) = Percentage of Refund</li>
	</ul>
</div>
