<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <br>
            <ol class="breadcrumb">
                <li><a href="./events">Home</a></li>
                <li class="active" ng-bind="etitle"></li>
            </ol>
        </div>
    </div>
    <!-- /.row -->

    <!--Events List-->
    
    <div layout="column" layout-gt-sm="row">
        <div layout="column" flex>
            
            <md-card>
                <md-card-header class="card-header pop">                    
                    <md-card-header-text layout="row">
                        <i class="material-icons">people</i>
                        <span class="md-title" ng-bind="etitle"></span>
                    </md-card-header-text>
                </md-card-header>
                
                <md-card-content layout="column">
   
                    <form name="searchForm" ng-submit="searchForm.$valid && searchMedia()">
                        <div layout="column" layout-gt-sm="row">
                            <!--Contractor-->
                            <md-input-container flex>
                                <label>Contractor</label>
                                <md-select ng-model="search.contractorid" name="contractor" placeholder="Select Contractor">
                                    <md-option ng-repeat="contractor in contractors" value="{{contractor.ID}}">{{contractor.FULLNAME}}</md-option>
                                </md-select>
                            </md-input-container>

                            <!--Event-->
                            <md-input-container flex>
                                <label>Event</label>
                                <md-select ng-model="search.eventid" name="event" placeholder="Select Event">
                                    <md-option ng-repeat="event in events" value="{{event.ID}}">{{event.TITLE}}</md-option>
                                </md-select>
                            </md-input-container>

                            <!--Tag-->
                            <md-input-container flex>
                                <label>Tag</label>
                                <input ng-model="search.tag" name="tag" minlength="5" maxlength="25">                                
                            </md-input-container>

                            <!--Submit Button-->
                            <div>
                                <md-button class="md-raised md-primary" type="submit" ng-disabled="!searchForm.$valid" aria-label="Submit" ng-cloak>Search</md-button>
                                <md-button class="md-raised md-primary md-warn" type="button" ng-click="search = {contractorid,eventid,tag};">Clear</md-button>
                            </div>
                        </div>
                    </form>

                    <div  class="alert alert-warning" layout="row" ng-if="!media.chunked.length && searchExecuted">
                        <p>No media found matching your search criteria.</p>        
                    </div>
                </md-card-content>
            </md-card>
            
        </div>
    </div>

    <!--Search Results-->
    <div layout="column" layout-gt-sm="row" ng-if="media.chunked.length">
        <div layout="column" flex>
            <md-card layout-padding>
                 <div class="row" ng-repeat="chunk in media.chunked">
                    <div class="col-md-4" ng-repeat="item in chunk">   
                        <div class="embed-responsive embed-responsive-16by9" ng-if="item.TYPE=='YouTube'">
                            <youtube-video class="embed-responsive-item" video-url="item.URL"></youtube-video>
                        </div>

                        <div class="embed-responsive embed-responsive-16by9" ng-if="item.TYPE=='Vimeo'">
                            <embed-video iframe-id="vimeoframe$index" api="1" player_id="vimeo$index" ng-href="{{item.URL}}"></embed-video>
                        </div>
                        
                        <div class="embed-responsive embed-responsive-16by9" ng-if="item.TYPE=='Photo'">
                            <img class="img-responsive img-hover img-related" ng-src="{{item.URL}}" alt="">
                        </div>
                        <a href="">Edit</a>
                    </div>
                </div>
            </md-card>            
        </div>
    </div>

  
    <hr>

    <!-- Footer -->
    <customfooter></customfooter>

</div>
<!-- /.container