<!---Page Content -->
<div class="container">

   <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header" ng-bind="coach.details.FULLNAME">
            </h1>
            <ol class="breadcrumb">
                <li><a ng-href="/">Home</a></li>
                <li><a ng-href="/coaches/">Our Team</a></li>
                <li class="active" ng-bind="coach.details.FULLNAME"></li>
            </ol>
        </div>
    </div>
    <!-- /.row -->

    <!--Name, Blurb, Request Coach-->
    <div class="row">
        <div class="col-md-4">
            <img class="img-responsive" src="/assets/images/people/{{coach.details.IMAGENAME}}" alt="">
        </div>
        <div class="col-md-6">
            <h3 ng-bind="coach.details.FULLNAME"></h3>
            <p>
            <blockquote>
              <p>"{{coach.details.BLURB}}"</p>            
            </blockquote>
            <!-- <a class="btn btn-primary" href="">Request Coach</a> -->
            </p>
        </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- Marketing Icons Section -->
    <div class="row">
     <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><span class="glyphicon glyphicon-info-sign"></span>Basic Info</h4>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">Home Dropzone: <a ng-href="{{coach.details.HOMEDZWEBSITE}}" target="_blank">{{coach.details.HOMEDZ}}</a></li>
                    <!-- <li class="list-group-item">Current Location: {{coach.details.CITY}}, {{coach.details.ABV}}</li> -->
                    <!-- <li class="list-group-item">Daily Rate: <strong>${{coach.details.DAYRATE}} + Slots</strong></li> -->
                </ul>
                <div class="panel-body">
                    <ul class="list-inline" style="text-align:center">
                        <li><a ng-href="{{coach.details.INSTAGRAMURL}}" ng-show="coach.details.INSTAGRAMURL.length" target="_blank"><i class="fa fa-2x fa-instagram"></i></a></li>
                        <li><a ng-href="{{coach.details.LINKEDINURL}}" ng-show="coach.details.LINKEDINURL.length" target="_blank"><i class="fa fa-2x fa-linkedin"></i></a></li>
                        <li><a ng-href="{{coach.details.VIDEOURL}}" ng-show="coach.details.VIDEOURL.length" target="_blank"><i class="fa fa-2x fa-video-camera"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><span class="glyphicon glyphicon-tasks"></span>Skills</h4>
                </div>
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="skill in coach.skills">{{skill.TITLE}} <i>({{skill.SKILL_LEVEL}})</i></li>
                </ul>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><i class="fa fa-fw fa-compass"></i>USPA Ratings</h4>
                </div>
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="rating in coach.ratings">{{rating.RATING}}</li>
                    <li class="list-group-item">
                        <a href="http://www.uspa.org/Safety-Training/Ratings" target="_blank">View USPA Ratings Information</a>
                    </li>
                </ul>
                
            </div>
        </div>
    </div>
    <!-- /.row -->

    <hr>

    <!--Media-->
    <div class="row">

        <div class="col-lg-12">
            <h3 class="page-header">Media</h3>
        </div>


        <div class="col-sm-6 col-md-4 col-xs-12" layout-padding ng-repeat="item in contractorMedia">
            <div class="embed-responsive embed-responsive-16by9" ng-if="item.TYPE=='YouTube'">
                <youtube-video class="embed-responsive-item" video-url="item.URL"></youtube-video>
            </div>

            <div class="embed-responsive embed-responsive-16by9" ng-if="item.TYPE=='Vimeo'">
                <vimeo-video class="embed-responsive-item" player-id="video$index" video-url="item.URL"></vimeo-video>
            </div>
            
            <div class="embed-responsive embed-responsive-16by9" ng-if="item.TYPE=='Photo'">
                <img class="img-responsive img-hover img-related" ng-src="{{item.URL}}" alt="">
            </div>            
        </div>

       
<!-- 
        <div class="col-sm-3 col-xs-6">
            <a href="#">
                <img class="img-responsive img-hover img-related" src="http://placehold.it/500x300" alt="">
            </a>
        </div>

        <div class="col-sm-3 col-xs-6">
            <a href="#">
                <img class="img-responsive img-hover img-related" src="http://placehold.it/500x300" alt="">
            </a>
        </div>

        <div class="col-sm-3 col-xs-6">
            <a href="#">
                <img class="img-responsive img-hover img-related" src="http://placehold.it/500x300" alt="">
            </a>
        </div>

        <div class="col-sm-3 col-xs-6">
            <a href="#">
                <img class="img-responsive img-hover img-related" src="http://placehold.it/500x300" alt="">
            </a>
        </div> -->

    </div>
    <!-- /.row -->

    <hr>

    <!-- Footer -->
   <customfooter></customfooter>

</div>
<!-- /.container