<!--Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
          <br>
          <ol class="breadcrumb">
              <li><a ng-href="/admin/">Admin</a></li>
              <li><a ng-href="/admin/contractors">Contactors</a></li>
              <li ng-bind="title"></li>              
          </ol>
        </div>
    </div>
    
    <!--Contractor Edit Form-->
    <div layout="column" layout-gt-sm="row">
        <div layout="column" flex="60">
            <form name="contractorForm" ng-submit="contractorForm.$valid && saveContractor()">
            <md-card>
                <md-card-header class="card-header pop">                    
                    <md-card-header-text layout="row">
                        <i class="material-icons">person</i>
                        <span class="md-title" ng-bind="title"></span>
                    </md-card-header-text>
                </md-card-header>
                
                <md-card-content layout="column" flex>
                
                <h5 class="md-subhead">Contact Information</h5>

                <!--First Name, Last Name___________________-->
                <div layout="column" layout-gt-sm="row">
                    <!--First Name-->
                    <md-input-container flex>
                        <label>First Name</label>
                        <input ng-model="contractor.firstname" name="firstname" required minlength="2" maxlength="50" autofocus>
                        <div ng-messages="contractorForm.firstname.$error" ng-if="contractorForm.firstname.$touched">
                            <div ng-message="required">First Name is required.</div>
                            <div ng-message="minlength">First Name must be at least 2 characters long.</div>
                        </div>
                    </md-input-container>

                    <!--Last Name-->
                    <md-input-container flex>
                        <label>Last Name</label>
                        <input ng-model="contractor.lastname" name="lastname" required minlength="2" maxlength="50" autofocus>
                        <div ng-messages="contractorForm.lastname.$error" ng-if="contractorForm.lastname.$touched">
                            <div ng-message="required">Last Name is required.</div>
                            <div ng-message="minlength">Last Name must be at least 2 characters long.</div>
                        </div>
                    </md-input-container>
                </div>

                <!--Phone,Email___________________-->
                <div layout="column" layout-gt-sm="row">
                    <!--Phone-->
                    <md-input-container flex>
                        <label>Phone Number</label>
                        <input ng-model="contractor.phonenumber" name="phonenumber" autoComplete="off" required minlength="7" maxlength="25" ui-mask="999-999-9999" ng-pattern="/^[0-9]{3}-[0-9]{3}-[0-9]{4}$/" />
                        <!-- <div class="hint" class="hints">###-###-####</div> -->
                        <div ng-messages="contractorForm.phonenumber.$error">                              
                            <div ng-message="required">Phone number is required.</div>
                            <div ng-message="pattern">###-###-#### - Please enter a valid phone number.</div>
                        </div>
                    </md-input-container>

                    <!--Email Address-->
                    <md-input-container class="md-block" flex>
                        <label>Email Address</label>
                        <input required ng-model="contractor.emailaddress" name="emailaddress" minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/">
                        <!-- <div class="hint">What email can we reach you at?</div> -->
                        <div ng-messages="contractorForm.emailaddress.$error">
                            <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                                Your email must be between 10 and 100 characters long and be valid.
                            </div>
                        </div>
                    </md-input-container>
                </div>


                <h5 class="md-subhead">Address</h5>

                <!--Address 1 And Address 2___________________________-->
                <div layout="column" layout-gt-sm="row">
                    <md-input-container flex>
                        <label>Address 1</label>
                        <input required ng-model="contractor.address1" autofocus name="address1" minlength="7" maxlength="40" />
                        <div ng-messages="contractorForm.address1.$error" ng-if="contractorForm.address1.$touched">
                            <div ng-message="required">Address is required.</div>
                            <div ng-message="minlength">Address must be a minimum of 7 characters.</div>
                        </div>
                    </md-input-container>

                    <!--Address-->
                    <md-input-container flex>
                        <label>Address 2 (optional)</label>
                        <input ng-model="contractor.address2" name="address2" minlength="1" maxlength="25" />
                    </md-input-container>
                </div>
                
                <!--City, State, Zipcode__________________________-->
                <div layout="row">
                    <!--City-->
                    <md-input-container flex>
                        <label>City</label>
                        <input required ng-model="contractor.city" required name="city" minlength="2" maxlength="20" ng-pattern="/^[a-zA-Z\s-]+$/" />
                        <div ng-messages="contractorForm.city.$error">
                            <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">                              
                                Please enter a valid city.
                            </div>
                        </div>
                    </md-input-container>

                    <!--State-->
                    <md-input-container flex>
                        <label>State</label>
                        <md-select required ng-model="contractor.stateid" name="state">
                            <md-option ng-repeat="state in states" value="{{state.ID}}">
                                {{state.TITLE}}
                            </md-option>
                        </md-select>
                        <div class="errors" ng-messages="contractorForm.state.$error" ng-if="contractorForm.state.$touched">
                            <div ng-message="required">State is Required</div>
                        </div>
                    </md-input-container>

                     <!--Zipcode-->
                    <md-input-container>
                        <label>Zipcode</label>
                        <input required ng-model="contractor.zipcode" name="zipcode" minlength="5" maxlength="5" ui-mask="99999" ng-pattern="/^[0-9]{5}/"/>
                        <div ng-messages="contractorForm.zipcode.$error">
                            <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">                              
                                Please enter a valid zipcode.
                            </div>
                        </div>
                    </md-input-container>
                </div>

                
                <h5 class="md-subhead">Dropzone / USPA</h5>

                <!--Dropzone / USPA_______________________________-->
                <div layout="row">
                    <md-autocomplete 
                        md-input-name="homeDropzoneField"
                        md-min-length="2"
                        md-no-cache="false"
                        md-selected-item="contractor.homedropzone"                            
                        md-search-text="searchText"                            
                        md-items="item in dropzoneSearch(searchText)"
                        md-item-text="item.name"                            
                        md-floating-label="Home Dropzone"
                        ng-cloak flex
                        required>
                        <md-item-template>
                            <span md-highlight-text="searchText">{{item.name}}</span>
                        </md-item-template>
                        <div ng-messages="contractorForm.homeDropzoneField.$error" ng-if="contractorForm.homeDropzoneField.$touched">
                            <div ng-message="required">Please enter your home dropzone.</div>
                        </div>
                    </md-autocomplete>                             

                    <!--USPA License-->
                    <md-input-container class="md-block" flex>
                        <label>USPA License</label>
                        <input required ng-model="contractor.uspalicenseno" name="uspalicense" minlength="1" maxlength="10">
                        <!-- <div class="hint">What email can we reach you at?</div> -->
                        <div ng-messages="contractorForm.uspalicense.$error">
                            <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                                USPA license must be between 1 and 10 characters long and be valid.
                            </div>
                        </div>
                    </md-input-container>

                    <!--USPA Member-->
                    <md-input-container class="md-block" flex>
                        <label>USPA Member</label>
                        <input ng-model="contractor.uspamemberno" name="uspamemberno" minlength="1" maxlength="10">
                        <!-- <div class="hint">What email can we reach you at?</div> -->
                        <div ng-messages="contractorForm.uspamember.$error">
                            <div ng-message-exp="['minlength', 'maxlength', 'pattern']">
                                USPA member number must be between 1 and 10 characters long and be valid.
                            </div>
                        </div>
                    </md-input-container>
                </div>

                <!--Event Image-->  
                <div layout="column" flex>              
                    <img id="previewimage" src="" style="max-width: 100%;">
                </div>

                <div class="actions" style="padding-left:40px;">                     
                    <md-button class="md-raised md-primary">
                        <label for="upload">
                            <md-icon md-font-set="material-icons">search</md-icon> BROWSE FOR IMAGE
                        </label>
                    </md-button>
                    <input type="file" name="upload" id="upload" value="Choose an image to upload" accept="image/*" style="display:none;">                    
                </div>
                

                <!--Submit Button-->
                <md-button class="md-raised md-primary" type="submit" ng-disabled="!contractorForm.$valid" aria-label="Submit" ng-bind="btnSubmitTitle" ng-cloak></md-button>
                </md-card-content>
            </md-card>
            </form>
        </div>
    </div>


    <hr>

    <!-- Footer -->
    <customfooter></customfooter>

</div>
<!-- /.container