<!--Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
          <br>
          <ol class="breadcrumb">
              <li><a ng-href="/admin/">Admin</a></li>
              <li><a ng-href="/admin/contractors">Contactors</a></li>
              <li><a ng-href="/admin/contractors/edit/step2/{{uniquename}}">Edit: Step 2</a></li>
              <li class="active"><a ng-href="/admin/contractors/edit/step2/{{uniquename}}" ng-bind="contractor.fullname"></a></li>
          </ol>
        </div>
    </div>
    
    <!--Contractor Edit Form-->
    <div layout="column" layout-gt-sm="row">
        <div layout="column" flex="60">
            <form name="contractorForm" ng-submit="contractorForm.$valid && saveContractor()">
            <md-card>
                <md-card-header class="card-header pop">                    
                    <md-card-header-text layout="row">
                        <i class="material-icons">person</i>
                        <span class="md-title" ng-bind="title"></span>
                    </md-card-header-text>
                </md-card-header>
                
                <md-card-content layout="column" flex>
                
                <h5 class="md-subhead">Social</h5>

                <!--Blurb___________________________-->
                <div layout="column" layout-gt-sm="row">
                    <md-input-container flex>
                        <label>Blurb</label>
                        <textarea ng-model="contractor.blurb" name="blurb" minlength="20" maxlength="1000" md-maxlength="1000" rows="2" required md-select-on-focus></textarea>
                        <div ng-messages="contractorForm.blurb.$error">
                            <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                                Blurb must be between 20 and 1000 characters long and be valid.
                            </div>
                        </div>
                    </md-input-container>
                </div>

                <!--Facebook, Instagram___________________________-->
                <div layout="column" layout-gt-sm="row">
                    <!--Facebook-->
                    <md-input-container flex>
                        <label>Facebook URL</label>
                        <input ng-model="contractor.facebookurl" name="facebookurl" minlength="15" maxlength="100" ng-pattern="/(https?:\/\/(.+?\.)?facebook\.com(\/[A-Za-z0-9\-\._~:\/\?#\[\]@!$&'\(\)\*\+,;\=]*)?)/" />
                        <div ng-messages="contractorForm.facebookurl.$error">
                            <div ng-message-exp="['minlength', 'maxlength', 'pattern']">                              
                                Please enter a valid facebook url.
                            </div>
                        </div>
                    </md-input-container>

                    <!--Instragram-->
                    <md-input-container flex>
                        <label>Instagram URL</label>
                        <input ng-model="contractor.instagramurl" name="instagramurl" minlength="15" maxlength="100"  ng-pattern="/(https?:\/\/(.+?\.)?instagram\.com(\/[A-Za-z0-9\-\._~:\/\?#\[\]@!$&'\(\)\*\+,;\=]*)?)/"/>
                        <div ng-messages="contractorForm.instagramurl.$error">
                            <div ng-message-exp="['minlength', 'maxlength', 'pattern']">                              
                                Please enter a valid intragram url.
                            </div>
                        </div>
                    </md-input-container>
                </div>

                <!--Video, LinkedIn___________________________-->
                <div layout="column" layout-gt-sm="row">
                    <!--Video-->
                    <md-input-container flex>
                        <label>YouTube / Vimeo URL</label>
                        <input ng-model="contractor.videourl" name="videourl" minlength="15" maxlength="100" type="url" />
                        <div ng-messages="contractorForm.videourl.$error">
                            <div ng-message-exp="['minlength', 'maxlength', 'pattern']">                              
                                Please enter a valid url for youtube or vimeo url.
                            </div>
                        </div>
                    </md-input-container>

                    <!--LinkedIn URL-->
                    <md-input-container flex>
                        <label>LinkedIn URL</label>
                        <input ng-model="contractor.linkedinurl" name="linkedinurl" minlength="15" maxlength="100" type="url" />
                        <div ng-messages="contractorForm.linkedinurl.$error">
                            <div ng-message-exp="['minlength', 'maxlength', 'pattern']">                              
                                Please enter a valid linkedin url.
                            </div>
                        </div>
                    </md-input-container>
                </div>
                
                <h5 class="md-subhead">Contractor Rates</h5>

                <!--Negotiated Day Rate -->
                <md-input-container>
                    <label>Day Rate (USD)</label>
                    <input required type="text" name="dayrate" ng-model="contractor.dayrate" ui-money-mask/>
                    <div ng-messages="contractorForm.dayrate.$error" ng-if="contractorForm.dayrate.$touched">
                        <div ng-message="required">Day rate is required.</div>
                        <div ng-message="minlength">Day Rate must be at least 0.</div>
                    </div>
                </md-input-container>

                <h5 class="md-subhead">USPA Ratings</h5>

                <!--USPA Ratings -->
                <div ng-repeat="rating in usparatings" style="padding-left: 20px;">
                     <md-checkbox ng-checked="exists(rating,selectedratings)" ng-click="toggleRating(rating)">
                        {{rating.RATING}}
                    </md-checkbox>
                </div>
 
                <!--Submit Button-->
                <md-button class="md-raised md-primary" type="submit" ng-disabled="!contractorForm.$valid" aria-label="Submit" ng-cloak>Save</md-button>
                </md-card-content>
            </md-card>
            </form>
        </div>
    </div>


    <hr>

    <!-- Footer -->
    <customfooter></customfooter>

</div>
<!-- /.container