/* Project Search CSS */
/* Designed by: Robert Klaas and Daniel Mejia */
/* Copyright 2015 Psomas */

body, .app-container {
  background-color: whitesmoke;
}
/*  ng-view Animation  */
.view-fade-in.ng-enter {
  transition: all 1s ease;
  -webkit-transition:all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  position:relative;
  opacity:0;
}
.view-fade-in.ng-enter.ng-enter-active {
  opacity: 1;
}
.view-fade-in.ng-leave.ng-leave-active{
  opacity:1;
}
.view-fade-in.ng-leave{
  opacity:0;
}

blockquote p {
  font-size: 14px;
}

.request-progress {    
  margin-left: auto;
  margin-right: auto;
}
.glyphicon{
  padding-right:7px;
}

.hint{
  color: grey;
  font-size:12px;
}

.md-input{
  font-family: Roboto,"Helvetica Neue",sans-serif;
  font-weight: normal;
 }

md-input-container label{
  font-family: Roboto,"Helvetica Neue",sans-serif;
  font-weight: normal;
  font-size: 16px;
}

md-select{
  font-family: Roboto,"Helvetica Neue",sans-serif;
  font-weight: normal;
  font-size: 16px;
}

.event-details{
  font-size: 18px;
  font-weight: 400;
}

.confirm-message{
  font-size: 20px;
  font-family: Roboto,"Helvetica Neue",sans-serif;
}

.basic-list span{
  font-size: 12px;
  font-family: Roboto,"Helvetica Neue",sans-serif; 
  font-weight: bold;
  color: grey;
}

.basic-list ul li{
  font-size: 12px;
  color: grey;
}

.big-list ol li{
  font-family: Roboto,"Helvetica Neue",sans-serif; 
  font-size: 16px;
}


.navbar-inverse {
  background-color: #011638;
}

/* mobile */
@media (max-width: 360px) {
    
}

@media (max-width: 800px) {
  
}

.cssFade{transition:1s linear all;opacity:1}
.cssFade.ng-hide{transition:3s linear all;opacity:0}
.cssSlideUp{transition:1.3s linear all;height:625px;overflow:hidden}
.cssSlideUp.ng-hide{transition:1.3s linear all;height:0}


/*Custom MD Card Styles*/
md-card md-card-header{
  background-color:#364156; 
  height:60px; 
  color:#FCF1ED;
}

md-card .pop{
  background-color:#368F8B; 
  height:60px; 
  color:#FCF1ED;
}

md-card md-card-header .md-title{
  font-size:1.6em;
}

.btn-card-float{
  position: absolute;
  top: -28px;
  right: 3px; 
  margin-right: 10px !important;
}


.btn-card-float-l1{
  position: absolute;
  top: -28px;
  right: 48px; 
  margin-right: 10px !important;
}

md-card md-card-header md-card-header-text i{
  padding-top: 3px;
  padding-right:10px;
}