/* Project Search CSS */
/* Designed by: Robert Klaas and Daniel Mejia */
/* Copyright 2015 Psomas */

body, .app-container {
  background-color: whitesmoke;
}
/*  ng-view Animation  */
.view-fade-in.ng-enter {
  transition: all 1s ease;
  -webkit-transition:all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  position:relative;
  opacity:0;
}
.view-fade-in.ng-enter.ng-enter-active {
  opacity: 1;
}
.view-fade-in.ng-leave.ng-leave-active{
  opacity:1;
}
.view-fade-in.ng-leave{
  opacity:0;
}

.request-progress {    
  margin-left: auto;
  margin-right: auto;
}


/* Psomas Sidenav */
md-sidenav, 
md-sidenav.md-locked-open, 
md-sidenav.md-closed.md-locked-open-add-active {
    min-width: 270px !important;
    width: 270px !important;
    max-width: 270px !important;
    background-color: #efefef;
}
.container{
  margin-left: 10px;
}

#sidebarContainer{
  background-color: black;
  color: white;
  margin-top: 40px;
}

.sidenavheader{
  background-color: red;
  color: white;
  min-height: 50px;
  height: 50px;
}

/* mobile */
@media (max-width: 360px) {
    
}

@media (max-width: 800px) {
  
}



.app-bar {
  max-height:48px; 
  min-height: 48px;
  padding: 0 8px;
  background-color: #EEEEEE;
}
.app-bar .app-title { 
  padding: 14px 0 0 0;
  border-bottom: 5px solid #EC8C23;
  margin-left: 38px;
}
.app-title {
  font-size: 16px;
  color: #245398;
  font-weight: bold;
}
.app-section-tab {
  padding: 14px 0 0 0;
  margin-left: 38px;
  color: #245398;
  font-weight: bold;
  font-size: 14px;
}
.app-tools {
  padding: 0px 40px;
}
.app-bar .app-tools #export {
  font-size: 14px;
}

/* Warning Bar */
.app-warning {
  max-height:48px; 
  min-height: 48px;
  background-color: #F6C691;
}

/* App Menu */
.app-warning-title {  
  color: #666;
  background-color: #F6C691;
  padding: 14px 0 0 38px;
  font-size: 12px;
}

.app-warning-image{
  margin: 0 10px 5px 10px;
}