<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Events</h1>
            <ol class="breadcrumb">
                <li><a href="index.cfm">Home</a>
                </li>
                <li class="active">Events</li>
            </ol>
        </div>
    </div>
    <!-- /.row -->

    <!--Events List-->
    <div class="row" ng-repeat="chunk in events.chunked" layout-padding>
        <div class="col-md-6" ng-repeat="event in chunk">
            <md-card>
                <!--Event Image-->
                <a ng-href="/events/view/{{event.ID}}" flex="none">
                    <img ng-src="{{common.buildfilepath(eventsImagePath,event.IMAGENAME)}}" class="md-card-image" alt="Event">
                </a>

                <!--Card Title-->
                <md-card-title style="position:relative;" flex="none">
                    <!--Card Title-->
                    <md-card-title-text layout="row">
                        <span class="md-headline" ng-bind="event.TITLE"></span>
                     </md-card-title-text>
                    
                    <!--FAB: View Details -->
                    <md-button class="md-fab md-mini btn-card-float" aria-label="Details" ng-href="/events/view/{{event.ID}}">
                        <md-tooltip md-direction="bottom">
                            View Details
                        </md-tooltip>
                        <md-icon class="material-icons icon-edit" md-font-set="material-icons">description</md-icon>
                    </md-button>

                    <!--FAB: Event Full-->
                    <md-button class="md-fab md-mini md-warn btn-card-float-l1" aria-label="Full" ng-click="showToastFull(event.TITLE)" ng-hide="event.SLOTSLEFT">
                        <md-tooltip md-direction="bottom">
                            Event is Full
                        </md-tooltip>
                        <md-icon class="material-icons icon-edit" md-font-set="material-icons">people</md-icon>
                    </md-button>
                </md-card-title>

                <!--Card Body-->
                <md-card-content class="min-height-300">
                    <h4 ng-bind="common.formatDateRange(event.STARTDATE,event.ENDDATE)"></h4>
                    <p class="event-details" ng-if="event.SLOTSLEFT">Slots Available: {{event.SLOTSLEFT}}</p>
                    <p class="event-details" ng-if="!event.SLOTSLEFT" style="color:#FF5722">Slots Available: {{event.SLOTSLEFT}}</p>
                    <p ng-bind="event.DESCRIPTION"></p><br>
                </md-card-content>

                <!--Card Actions-->
                <md-card-actions layout="row" layout-align="end center">
                    <md-button class="md-raised md-primary" flex ng-href="/events/view/{{event.ID}}">
                        <md-icon md-font-set="material-icons" ng-href="/home/comment">description</md-icon> VIEW DETAILS
                        </md-button>
                    <md-button class="md-raised md-primary" flex ng-href="/events/register/step1/{{event.ID}}" ng-show="event.SLOTSLEFT">
                        <md-icon md-font-set="material-icons" ng-href="/home/comment">person_add</md-icon> REGISTER
                    </md-button>
                    <md-button class="md-raised md-primary" flex ng-href="/events/register/reservelist/{{event.ID}}" ng-hide="event.SLOTSLEFT">
                        <md-icon md-font-set="material-icons" ng-href="/home/comment">person_add</md-icon> RESERVE LIST
                    </md-button>
                </md-card-actions>
            </md-card>
        </div>
    </div>

    <!--No Active Team Members Message-->
    <div class="row" ng-if="!events.all.length">
        <div class="col-md-12">
            <p class="event-details" ng-bind="message"></p>
        </div>
    </div>

    <hr>

    <!-- Footer -->
    <customfooter></customfooter>

</div>
<!-- /.container