<div class="container">

     <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header" ng-bind="event.details.TITLE"></h1>
            <ol class="breadcrumb">
                <li><a ng-href="/">Home</a></li>
                <li><a ng-href="/events/">Events</a></li>
                <li><a ng-href="/events/view/{{eventid}}" ng-bind="event.details.TITLE"></a></li>
                <li class="active">Step 1: Registration</li>
            </ol>
        </div>
    </div>
    <!-- /.row -->

    <div layout="column" layout-gt-sm="row">
        <div layout="column" flex="60">
            <form name="registrationForm" ng-submit="registrationForm.$valid && proceedToPayment()">
            <md-card>
                <md-card-header class="card-header pop">                    
                    <md-card-header-text layout="row">
                        <i class="material-icons">person_add</i>
                        <span class="md-title">Event Registration</span>
                    </md-card-header-text>
                </md-card-header>
                <md-card-content layout="column" flex>
                <!--First Name-->
                <md-input-container>
                    <label>First Name</label>
                    <input ng-model="customer.firstname" autofocus name="firstname" required minlength="2" maxlength="20">
                    <div ng-messages="registrationForm.firstname.$error">
                        <div ng-message="required">First name is required.</div>
                        <div ng-message="minlength">Your first name must be at least 2 characters long.</div>
                    </div>
                </md-input-container>

                <!--Last Name-->
                <md-input-container>
                    <label>Last Name</label>
                    <input ng-model="customer.lastname" name="lastname" required minlength="2" maxlength="20">
                    <div ng-messages="registrationForm.lastname.$error">
                        <div ng-message="required">Last name is required.</div>
                        <div ng-message="minlength">Your last name must be at least 2 characters long.</div>
                    </div>
                </md-input-container>

                <!--Phone-->
                <md-input-container>
                    <label>Phone Number</label>
                    <input ng-model="customer.phonenumber" name="phonenumber" autoComplete="off" required minlength="7" maxlength="40" ui-mask="999-999-9999" ng-pattern="/^[0-9]{3}-[0-9]{3}-[0-9]{4}$/" />
                    <!-- <div class="hint" class="hints">###-###-####</div> -->
                    <div ng-messages="registrationForm.phonenumber.$error">                              
                        <div ng-message="required">Phone number is required.</div>
                        <div ng-message="pattern">###-###-#### - Please enter a valid phone number.</div>
                    </div>
                </md-input-container>

                <!--Email Address-->
                <md-input-container class="md-block">
                    <label>Email Address</label>
                    <input required ng-model="customer.emailaddress" name="emailaddress" minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/">
                    <!-- <div class="hint">What email can we reach you at?</div> -->
                    <div ng-messages="registrationForm.emailaddress.$error">
                        <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                            Your email must be between 10 and 100 characters long and be valid.
                        </div>
                    </div>
                </md-input-container>   

                <!--Home Dropzone-->
                <div layout="row">
                    <md-autocomplete 
                        md-input-name="homeDropzoneField"
                        md-min-length="2"
                        md-no-cache="false"
                        md-selected-item="customer.homedropzone"                            
                        md-search-text="searchText"                            
                        md-items="item in dropzoneSearch(searchText)"
                        md-item-text="item.name"                            
                        md-floating-label="Home Dropzone"
                        ng-cloak flex
                        required>
                        <md-item-template>
                            <span md-highlight-text="searchText">{{item.name}}</span>
                        </md-item-template>
                        <div ng-messages="registrationForm.homeDropzoneField.$error" ng-if="registrationForm.homeDropzoneField.$touched">
                            <div ng-message="required">Please enter your home dropzone.</div>
                        </div>
                    </md-autocomplete>                            

                    <md-input-container flex>
                        <label>USPA License</label>
                        <md-select ng-model="customer.uspalicense" name="uspalicense" required>
                            <md-option value="{{license.name}}" ng-repeat="license in uspaLicenses">{{license.name}} - License</md-option>
                        </md-select>
                        <div class="errors" ng-messages="registrationForm.uspalicense.$error" ng-if="registrationForm.uspalicense.$touched">
                            <div ng-message="required">USPA License is Required</div>
                        </div>
                    </md-input-container>
                </div>

                <!--Number of Jumps-->
                <md-input-container>
                    <label>Number of Jumps Logged</label>
                    <input ng-model="customer.jumpslogged" name="jumpslogged" required minlength="2" maxlength="5" ng-pattern="/^[0-9]/"/>
                    <div ng-messages="registrationForm.jumpslogged.$error">
                        <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                            Please enter a valid jump number
                        </div>
                    </div>
                </md-input-container>

                <!--Primary Discipline-->
                <md-input-container>
                    <label>Primary Discipline</label>
                    <md-select required ng-model="customer.primarydisciplineid" name="primarydisciplineid">
                        <md-option ng-repeat="discipline in disciplines" value="{{discipline.ID}}">{{discipline.TITLE}}</md-option>
                    </md-select>
                    <div class="errors" ng-messages="registrationForm.primarydisciplineid.$error" ng-if="registrationForm.primarydiscipline.$touched">
                        <div ng-message="required">Primary Discipline is Required</div>
                    </div>
                </md-input-container>

                <!--Submit Button-->
                <md-button class="md-raised md-primary" type="submit" ng-disabled="!registrationForm.$valid" aria-label="Submit" ng-cloak>Proceed To Payment</md-button>
                </md-card-content>
            </md-card>
            </form>
        </div>
        
        <div layout="column" flex="40">
            <md-card>
                <md-card-header class="card-header">                    
                    <md-card-header-text layout="row">
                        <i class="material-icons">description</i>
                        <span class="md-title" ng-bind="event.details.TITLE"></span>
                    </md-card-header-text>
                </md-card-header>  
                <img ng-src="{{common.buildfilepath(eventsImagePath,event.details.IMAGENAME)}}" class="md-card-image" alt="Event">
                <md-card-content layout="column">                    
                    <span class="event-details">Dates: {{common.formatDateRange(event.details.STARTDATE,event.details.ENDDATE)}}</span>
                    <span class="event-details">Location: {{event.details.DROPZONENAME}}</span>
                    <span class="event-details">Price: {{event.details.REGISTRATIONFEE | currency}}</span>
                    <span class="event-details" ng-if="event.details.SLOTSLEFT">Slots Available: {{event.details.SLOTSLEFT}}</span>
                    <span class="event-details" ng-if="!event.details.SLOTSLEFT" style="color:#FF5722">Slots Available: {{event.details.SLOTSLEFT}}</span>
                </md-card-content>
            </md-card>
        </div>
    </div>

    <hr>

    <!-- Footer -->
    <customfooter></customfooter>

</div>
<!-- /.container -->