<div class="container">

     <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header" ng-bind="event.details.TITLE"></h1>
            <ol class="breadcrumb">
                <li><a ng-href="/">Home</a></li>
                <li><a ng-href="/events/">Events</a></li>
                <li class="active" ng-bind="event.details.TITLE"></li>
            </ol>
        </div>
    </div>
    <!-- /.row -->

    <!-- Portfolio Item Row -->
    <div class="row">

        <div class="col-md-6">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <img class="img-responsive" ng-src="{{common.buildfilepath(eventsImagePath,event.details.IMAGENAME)}}" alt="">
                    </div>
                    <div class="item">
                        <img class="img-responsive" src="http://placehold.it/750x500" alt="">
                    </div>
                    <div class="item">
                        <img class="img-responsive" src="http://placehold.it/750x500" alt="">
                    </div>
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
        </div>

        <div class="col-md-6">
            <h4 ng-bind="event.details.TITLE"></h4>            
            <h4 ng-bind="common.formatDateRange(event.details.STARTDATE,event.details.ENDDATE)"></h4>
            <h4>Location: <a ng-href="{{event.details.DROPZONEWEBSITE}}" target="_blank">{{event.details.DROPZONENAME}}</a></h4>
            <h4>Registration: {{event.details.REGISTRATIONFEE | currency}}</h4>
            <h4 ng-bind="buildSlotsString(event.details.SLOTSLEFT,event.details.SLOTS)"></h4>
            <p ng-bind="event.details.DESCRIPTION"></p><br>           
            <h5 ng-hide="event.details.SLOTSLEFT">This event is full. However, you can still register for the reserve list in case someone cancels.</h5>            

            <md-button class="md-raised md-primary" flex ng-href="/events/register/step1/{{eventid}}" ng-show="event.details.SLOTSLEFT">Register for Event</md-button>
            <md-button class="md-raised md-primary" flex ng-href="/events/register/reservelist/{{eventid}}" ng-hide="event.details.SLOTSLEFT">Apply for Reserve List</md-button>
        </div>

    </div>
    <!-- /.row -->

    <!-- Related Projects Row -->
    <div class="row">

        <div class="col-lg-12">
            <h3 class="page-header">Coaches / Videographers</h3>
        </div>

       <div class="col-sm-3 col-xs-6" ng-repeat="contractor in event.contractors">
            <a href="/coaches/{{contractor.UNIQUENAME}}">
                <img class="img-responsive img-hover img-related" ng-src="{{common.buildfilepath(peopleImagePath,contractor.IMAGENAME)}}" alt="">
            </a>
            <h4 ng-cloak>{{contractor.FULLNAME}} - {{contractor.SKILL_TITLE}}</h4>
        </div>

    </div>
    <!-- /.row -->

<!--     <div layout="column" layout-gt-sm="row">
        <md-card flex ng-repeat="contractor in event.contractors">
            <md-card-header class="card-header">                    
                <md-card-header-text>
                    <span class="md-title">{{contractor.FULLNAME}}</span>
                </md-card-header-text>
            </md-card-header>
            <a ng-href="/coaches/{{contractor.UNIQUENAME}}"><img ng-src="{{common.buildfilepath(peopleImagePath,contractor.IMAGENAME)}}" class="md-card-image  img-hover" alt="Coach"></a>            
            <md-card-title style="position:relative;" flex="none">
                <md-button class="md-fab md-mini btn-card-float" aria-label="Watch" ng-href="/coaches/{{contractor.UNIQUENAME}}">
                    <md-icon class="material-icons icon-edit" md-font-set="material-icons">person</md-icon>
                </md-button>
            </md-card-title>
             <md-card-title-media>
            <div class="md-media-sm card-media"></div>
          </md-card-title-media>
            <md-card-content flex>
                <p>{{contractor.SKILL_TITLE}}</p>
            </md-card-content>
        </md-card>   
    </div> -->

    <hr>

    <!-- Footer -->
    <customfooter></customfooter>

</div>
<!-- /.container