<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <br>
            <ol class="breadcrumb">
                <li><a href="./events">Home</a></li>
                <li><a href="./events">Events</a></li>
                <li><a href="index.cfm" ng-bind="event.details.TITLE"></a></li>
                <li class="active" ng-bind="etitle"></li>
            </ol>
        </div>
    </div>
    <!-- /.row -->

    <!--Events List-->
    
    <div layout="column" layout-gt-sm="row">
        <div layout="column" flex="60">
            
            <md-card>
                <md-card-header class="card-header pop">                    
                    <md-card-header-text layout="row">
                        <i class="material-icons">event</i>
                        <span class="md-title" ng-bind="etitle"></span>
                    </md-card-header-text>
                </md-card-header>
                
                <md-card-content layout="column">
                    <form name="addForm" ng-submit="addForm.$valid && addContractorToArray()">
                        <div layout="column" layout-gt-sm="row">
                            <!--Contractor-->
                            <md-input-container flex>
                                <label>Contractor</label>
                                <md-select required ng-model="eventcontractor.id" name="contractor" ng-change="setDailyRate()">
                                    <md-option ng-repeat="contractor in contractors" value="{{contractor.ID}}">{{contractor.FULLNAME}}</md-option>
                                </md-select>
                                <div class="errors" ng-messages="addForm.contractor.$error" ng-if="addForm.contractor.$touched">
                                    <div ng-message="required">Contractor is required</div>
                                </div>
                            </md-input-container>

                            <!--Role-->
                            <md-input-container flex>
                                <label>Role</label>
                                <md-select required ng-model="eventcontractor.roleid" name="role">
                                    <md-option ng-repeat="role in roles" value="{{role.ID}}">{{role.TITLE}}</md-option>
                                </md-select>
                                <div class="errors" ng-messages="addForm.role.$error" ng-if="addForm.role.$touched">
                                    <div ng-message="required">Role is required</div>
                                </div>
                            </md-input-container>

                            <!--Day Rate -->
                            <md-input-container flex>
                                <label>Daily Rate (USD)</label>
                                <input required id="rate" name="rate" ng-model="eventcontractor.dayrate" required ng-pattern="/^[+-]?[0-9]{1,3}(?:,?[0-9]{3})*\.[0-9]{2}$/"/>
                                <div ng-messages="addForm.rate.$error">
                                    <div ng-message-exp="['required', 'pattern']">                              
                                        Please enter a valid daily pay rate.
                                    </div>
                                </div>
                            </md-input-container>

                            <!--Slots Paid-->
                            <div layout="row" layout-align="center center">
                                <md-checkbox ng-model="eventcontractor.slotcompensation" name="slotcompensation" ng-true-value="1" ng-false-value="0" aria-label="Slots Paid" flex>
                                    Slots Paid
                                </md-checkbox>                           

                                <!--Add Contractor-->                            
                                <md-button class="md-raised md-primary" type="submit" ng-disabled="!addForm.$valid" aria-label="Submit" flex>
                                    <md-icon md-font-set="material-icons">add</md-icon> ADD
                                </md-button>                                
                            </div>
                        </div>

                        <!--Team List-->
                        <md-list ng-if="contractorlist.length" flex>
                            <md-list-item class="md-3-line" ng-repeat="contractor in contractorlist" ng-click="null">
                                <img ng-src="{{common.buildfilepath(peopleImagePath,contractor.imagename)}}" class="md-avatar" alt="{{contractorlist.fullname}}" />
                                <div layout="column" layout-gt-sm="row" flex>
                                    <div class="md-list-item-text" layout="column">
                                        <h3>{{ contractor.fullname }} - {{ contractor.roletitle }}</h3>
                                        <h4>Day Rate: {{contractor.dayrate | currency}}</h4>
                                        <h4>Slots Compensated: {{ contractor.slotcompensation ? "Yes" : "No" }}</h4>
                                    </div>
                                </div>
                                <div class="md-list-item-text" layout="column" layout-align="center end">                                
                                     <!--FAB: Remove Contractor -->
                                    <md-button class="md-fab md-mini" aria-label="Remove Contractor" ng-click="removeContractor(contractor)">
                                        <md-tooltip md-direction="bottom">
                                            Remove Contractor
                                        </md-tooltip>
                                        <md-icon class="material-icons icon-edit" md-font-set="material-icons">remove</md-icon>
                                    </md-button>
                                </div>
                            </md-list-item>
                        </md-list>                           

                        <!--Save Contractors-->
                        <div layout="row" flex>
                            <md-button class="md-raised md-primary" ng-disabled="!contractorlist.length" ng-click="saveContractors()" aria-label="Save" flex>
                                SAVE CONTRACTORS
                            </md-button>
                        </div>
                </md-card-content>
            </md-card>
            
        </div>
         </div>

  
    <hr>

    <!-- Footer -->
    <customfooter></customfooter>

</div>
<!-- /.container