<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <br>
            <ol class="breadcrumb">
                <li><a href="index.cfm">Home</a></li>
                <li><a href="index.cfm">Events</a></li>
                <li class="active" ng-bind="etitle"></li>
            </ol>
        </div>
    </div>
    <!-- /.row -->

    <!--Events List-->
    
    <div layout="column" layout-gt-sm="row">
        <div layout="column" flex="60">
            <form name="eventForm" ng-submit="eventForm.$valid && saveEvent()">
            <md-card>
                <md-card-header class="card-header pop">                    
                    <md-card-header-text layout="row">
                        <i class="material-icons">event</i>
                        <span class="md-title" ng-bind="etitle"></span>
                    </md-card-header-text>
                </md-card-header>
                
                <md-card-content layout="column" flex>
                
                <!--Event Title-->
                <md-input-container>
                    <label>Event Title</label>
                    <input ng-model="event.title" name="title" required minlength="5" maxlength="50" autofocus>
                    <div ng-messages="eventForm.title.$error" ng-if="eventForm.title.$touched">
                        <div ng-message="required">Title is required.</div>
                        <div ng-message="minlength">Title must be at least 5 characters long.</div>
                    </div>
                </md-input-container>

                <!--Event Description-->
                <md-input-container>
                    <label>Event Description</label>
                    <textarea ng-model="event.description" name="description" minlength="50" maxlength="1000" md-maxlength="1000" rows="3" required md-select-on-focus></textarea>
                    <div ng-messages="eventForm.description.$error" ng-if="eventForm.description.$touched">
                        <div ng-message="required">Event description is required.</div>
                        <div ng-message="minlength">Event description must be at least 10 characters long.</div>
                    </div>
                </md-input-container>

                <!--Start Date | End Date-->
                <div layout="column" layout-gt-xs="row">
                    <md-input-container flex>
                        <label>Start Date/Time</label>
                        <input mdc-datetime-picker="" date="true" time="true" type="text" name="startdatetime" placeholder="Start Date" min-date="minDate" max-date="maxDate" ng-model="event.startdate" class="md-input" required>
                        <div class="errors" ng-messages="eventForm.startdatetime.$error" ng-if="eventForm.startdatetime.$touched">
                            <div ng-message="required">Start date is Required</div>
                        </div>
                    </md-input-container>
                
                    <!--End Date-->
                    <md-input-container flex>
                        <label>End Date/Time</label>
                        <input mdc-datetime-picker="" date="true" time="true" type="text" name="enddatetime" placeholder="End Date" min-date="minDate" max-date="maxDate" ng-model="event.enddate" class="md-input" required>
                        <div class="errors" ng-messages="eventForm.enddatetime.$error" ng-if="eventForm.enddatetime.$touched">
                            <div ng-message="required">End date is Required</div>
                        </div>
                    </md-input-container>
                </div>                  

                <!--Dropzone-->
                <md-input-container>
                    <label>Dropzone</label>
                    <md-select required ng-model="event.dropzone" name="dropzone">
                        <md-option ng-repeat="dropzone in dropzones" value="{{dropzone.ID}}">{{dropzone.NAME}}</md-option>
                    </md-select>
                    <div class="errors" ng-messages="eventForm.dropzone.$error" ng-if="eventForm.dropzone.$touched">
                        <div ng-message="required">Dropzone is Required</div>
                    </div>
                </md-input-container>

                <!--Slots-->
                <div layout="column" layout-gt-md="row">
                    <!--Slots-->
                    <md-input-container flex>
                        <label>Jumps Per Day</label>
                        <input required type="number" step="1" name="jumpsperday" ng-model="event.jumpsperday" max="25" />
                        <div ng-messages="eventForm.jumpsperday.$error" ng-if="eventForm.jumpsperday.$touched">
                            <div ng-message="required">Jumps per day is required.</div>
                        </div>
                    </md-input-container>

                    <!--Slots-->
                    <md-input-container flex>
                        <label>Available Slots</label>
                        <input required type="number" step="1" name="slots" ng-model="event.slots" min="1" max="25" />
                        <div ng-messages="eventForm.slots.$error" ng-if="eventForm.slots.$touched">
                            <div ng-message="required">Slots is required.</div>
                            <div ng-message="minlength">Slots must be at least 1.</div>
                        </div>
                    </md-input-container>

                    <!--Reserve Slots-->
                    <md-input-container flex>
                        <label>Reserve Slots</label>
                        <input required type="number" step="1" name="reserveslots" ng-model="event.reserveslots" min="1" max="25" />
                        <div ng-messages="eventForm.reserveslots.$error" ng-if="eventForm.reserveslots.$touched">
                            <div ng-message="required">Reserve slots is required.</div>
                            <div ng-message="minlength">Reserve slots must be at least 1.</div>
                        </div>
                    </md-input-container>
                </div>  

                <!--Event Image-->                
                <img id="previewimage" src="">
                <img id="resultimage" src="">
                <div class="actions" style="padding-left:40px;">                     
                    <md-button class="md-raised md-primary">
                        <label for="upload">
                            <md-icon md-font-set="material-icons">search</md-icon> BROWSE FOR IMAGE
                        </label>
                    </md-button>
                    <input type="file" name="upload" id="upload" value="Choose an image to upload" accept="image/*" style="display:none;">                    
                </div>
                

                <!--Submit Button-->
                <md-button class="md-raised md-primary" type="submit" ng-disabled="!eventForm.$valid" aria-label="Submit" ng-bind="btnSubmitTitle" ng-cloak></md-button>
                </md-card-content>
            </md-card>
            </form>
        </div>
         </div>

  
    <hr>

    <!-- Footer -->
    <customfooter></customfooter>

</div>
<!-- /.container