<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Events</h1>
            <ol class="breadcrumb">
                <li><a href="index.cfm">Home</a>
                </li>
                <li class="active">Events</li>
            </ol>
        </div>
    </div>
    <!-- /.row -->

    <!--Events List-->
    <div layout="column" layout-gt-sm="row">
        <div layout="column" class="col-md-4" ng-repeat="event in events" flex>
        <md-card style="padding-bottom:25px;" flex>
            <md-card-header class="card-header pop">                    
                <md-card-header-text layout="row">
                    <div layout="row" flex>
                        <i class="material-icons">event_note</i>
                        <span class="md-title" ng-bind="event.TITLE"></span>
                    </div><div layout="column" layout-align="start start">
                        <md-switch ng-model="event.ACTIVE" aria-label="Active" ng-true-value="1" ng-false-value="0" ng-change="changeStatus(event)"></md-switch>
                    </div>
                </md-card-header-text>
                
            </md-card-header>

            <!--Event Image-->
            <a ng-href="/events/view/{{event.ID}}">
                <img ng-src="{{common.buildfilepath(eventsImagePath,event.IMAGENAME)}}" class="md-card-image" alt="Event">
            </a>

            <!--Card Title-->
            <md-card-title style="position:relative;" flex="none">                
                <!--FAB: View Details -->
                <md-button class="md-fab md-mini btn-card-float" aria-label="Details" ng-href="./events/edit/{{event.ID}}">
                    <md-tooltip md-direction="bottom">
                        Edit Event
                    </md-tooltip>
                    <md-icon class="material-icons icon-edit" md-font-set="material-icons">edit</md-icon>
                </md-button>

                <!--FAB: Registered List-->
                <md-button class="md-fab md-mini btn-card-float-l1" aria-label="Event Manifest" ng-href="./events/registered/{{event.ID}}">
                    <md-tooltip md-direction="bottom">
                        Event Manifest
                    </md-tooltip>
                    <md-icon class="material-icons icon-edit" md-font-set="material-icons">people</md-icon>
                </md-button>
            </md-card-title>

            <!--Card Body-->
            <md-card-content flex>
                <p class="event-details" ng-bind="common.formatDateRange(event.STARTDATE,event.ENDDATE)"></p>
                <p class="event-details">Slots Filled: {{event.SLOTSFILLED}} of {{event.SLOTS}}</p>
                <p class="event-details">Slots Remaining: {{event.SLOTSLEFT}}</p>
                <p class="event-details">Reserve List: {{event.RESERVELISTCOUNT}} registered</p>
                <!-- <p ng-bind="event.DESCRIPTION"></p><br> -->
            </md-card-content>

            <!--Card Actions-->
            <md-card-actions layout="row" layout-align="end center">
                <md-button class="md-raised md-primary" flex ng-href="./events/edit/{{event.ID}}">
                    <md-icon md-font-set="material-icons">edit</md-icon> EDIT
                </md-button>
                <md-button class="md-raised md-primary" flex ng-href="./events/registered/{{event.ID}}">
                    <md-icon md-font-set="material-icons">people</md-icon> MANIFEST
                </md-button>
            </md-card-actions>
        </md-card>
        </div>
    </div>

  
    <hr>

    <!-- Footer -->
    <customfooter></customfooter>

</div>
<!-- /.container