<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <br>
            <ol class="breadcrumb">
                <li><a href="./events">Home</a></li>
                <li><a href="./events">Events</a></li>
                <li><a href="./events/overview/{{eventid}}" ng-bind="event.details.TITLE"></a></li>
                <li class="active" ng-bind="etitle"></li>
            </ol>
        </div>
    </div>
    <!-- /.row -->

    <!--Events List-->
    
    <div layout="column" layout-gt-sm="row">
        <div layout="column" flex="70">
            
            <md-card>
                <md-card-header class="card-header pop">                    
                    <md-card-header-text layout="row">
                        <i class="material-icons">monetization_on</i>
                        <span class="md-title" ng-bind="etitle"></span>
                    </md-card-header-text>
                </md-card-header>
                
                <md-card-content layout="column">
                    <!--Pricing Locked Notification-->
                    <div class="alert alert-warning" ng-if="pricinglocked && (pricing.marginamount >= 0)"> 
                        <i class="material-icons">lock</i>
                        <strong>Pricing Locked:</strong> Someone has already registered for this event. Pricing has been locked at {{event.details.REGISTRATIONFEE | currency}} for all attendees. Please take this into consideration when modifying expenses. <b>This can reduce profit and potentially allow event expenses to exceed profit.</b></a>
                    </div>

                    <!--Pricing Locked Notification-->
                    <div class="alert alert-danger" ng-if="pricinglocked && (pricing.marginamount < 0)"> 
                        <i class="material-icons">lock</i>
                        <strong>Net Loss Expected:</strong>This events expenses exceed potential revenue and therefore will result in a net loss. To remedy this, add more registration slots or reduce expenses.</b></a>
                    </div>                    

                    <!--Contractor Costs-->
                    <h3 class="md-no-sticky md-title">Contractor Costs</h3>
                    <md-list ng-if="event.contractorcosts.length" flex>
                        <md-list-item class="md-3-line" ng-repeat="contractor in event.contractorcosts" ng-click="null">
                            <img ng-src="{{common.buildfilepath(peopleImagePath,contractor.IMAGENAME)}}" class="md-avatar" alt="{{contractor.FULLNAME}}" />
                            <div class="md-list-item-text" layout="column">
                                <h3>{{contractor.FULLNAME}}</h3>
                                <h4>{{contractor.ROLETITLE}}</h4>
                            </div>
                            <div class="md-list-item-text" layout="column" layout-align="center end">                                
                                <h2 class="pricing-green-30"><i class="material-icons">monetization_on</i> {{contractor.TOTALCOST | currency}}</h2>
                            </div>
                        </md-list-item>
                    </md-list>

                    <md-divider></md-divider>

                    <!--Jump Ticket Costs-->
                    <h3 class="md-no-sticky md-title">Jump Ticket Costs</h3>
                    <md-list ng-if="event.contractorcosts.length" flex>
                        <md-list-item class="md-3-line" ng-repeat="contractor in event.ticketcosts" ng-click="null">
                            <img ng-src="{{common.buildfilepath(peopleImagePath,contractor.IMAGENAME)}}" class="md-avatar" alt="{{contractor.FULLNAME}}" />
                            <div class="md-list-item-text" layout="column">
                                <h3>{{contractor.FULLNAME}}</h3>
                                <h4>{{contractor.ROLETITLE}}</h4>
                            </div>
                            <div class="md-list-item-text" layout="column" layout-align="center end">                                
                                <h2 class="pricing-green-30"><i class="material-icons">airplanemode_on</i> {{contractor.TOTALCOST | currency}}</h2>
                            </div>
                        </md-list-item>
                    </md-list>   

                    <md-divider><br /></md-divider>  

                    <!--Contractor Costs-->
                    <div layout="column" layout-align="center end"> 
                        <h4 class="md-no-sticky md-title pricing-red" ng-cloak>Total Expenses: {{pricing.totalexpenses | currency}}</h4>               
                    </div>
                    
                    <div layout="column" layout-align="center end"> 
                        <h4 class="md-no-sticky md-title pricing-green" ng-cloak>Potential Revenue: {{pricing.potentialrevenue | currency}}</h4>               
                    </div>

                    <div layout="column" layout-align="center end"> 
                        <h4 class="md-no-sticky md-title" ng-class="(pricing.marginamount >= 0)?'pricing-green':'pricing-red'" ng-cloak>Profit Margin: {{pricing.marginamount | currency}}</h4>
                    </div>

                    <div layout="column" layout-align="center end" ng-if="pricinglocked"> 
                        <h4 class="md-no-sticky md-title" ng-class="(pricing.marginamount >= 0)?'pricing-green':'pricing-red'" ng-cloak>Profit Margin Perc: {{pricing.marginpercentage}}%</h4>
                    </div>

                    <div layout="column" layout-align="center end" ng-if="pricinglocked" ng-class="(event.details.REGISTRATIONFEE >= pricing.suggestedregistrationfee)?'pricing-green':'pricing-red'"> 
                        <h4 class="md-no-sticky md-title" ng-cloak><i class="material-icons">lock</i> Actual Registration: {{event.details.REGISTRATIONFEE | currency}}</h4>               
                    </div>

                    <md-divider layout-padding></md-divider> 

                    <!--Pricing Form-->
                    <div layout="row" ng-if="!pricinglocked"> 
                        <form layout="column" name="pricingForm" ng-submit="pricingForm.$valid && savePricing()" flex>
                            
                            <md-input-container>
                                <label>Margin Percentage</label>
                                <input required type="number" step="1" name="margin" ng-model="pricing.marginpercentage" min="0" max="100" ng-change="calculatePricing()" />
                                <div ng-messages="pricingForm.margin.$error" ng-if="pricingForm.margin.$touched">
                                    <div ng-message="required">Margin is required.</div>
                                    <div ng-message="minlength">Margin must be at least 0.</div>
                                </div>
                            </md-input-container>
                       

                            <md-input-container>
                                <label>Actual Registration</label>
                                <input required type="number" step="1" name="actualreg" ng-model="pricing.actualregistrationfee" min="0" max="1000" />
                                <div ng-messages="pricingForm.actualreg.$error" ng-if="pricingForm.actualreg.$touched">
                                    <div ng-message="required">Actual registration is required.</div>
                                    <div ng-message="minlength">Actual registration must be at least 0.</div>
                                </div>
                            </md-input-container>

                            <div layout="row" flex>
                                <md-button class="md-raised md-primary" ng-disabled="!pricingForm.$valid" ng-click="savePricing()" aria-label="Save" flex>
                                    SAVE PRICING
                                </md-button>
                            </div>
                        </form>
                    </div>
                </md-card-content>
            </md-card>            
        </div>
        <div layout="column" flex="30">
            <md-card>
                <md-card-header class="card-header">                    
                    <md-card-header-text layout="row">
                        <i class="material-icons">event_note</i>
                        <span class="md-title">Event Details</span>
                    </md-card-header-text>
                </md-card-header>  
                <img ng-src="{{common.buildfilepath(eventsImagePath,event.details.IMAGENAME)}}" class="md-card-image" alt="Event">
                <md-card-content layout="column">                    
                    <span class="event-details">Location: {{event.details.TITLE}}</span>
                    <span class="event-details">Dates: {{common.formatDateRange(event.details.STARTDATE,event.details.ENDDATE)}} ({{common.formatdays(event.details.NUMDAYS)}})</span>
                    <span class="event-details">Location: {{event.details.DROPZONENAME}}</span>
                    <span class="event-details">Total Slots: {{event.details.SLOTS}}</span>
                </md-card-content>
            </md-card>
        </div>
        

    </div>

  
    <hr>

    <!-- Footer -->
    <customfooter></customfooter>

</div>
<!-- /.container