<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Event Manifest</h1>
            <ol class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li><a href="./events/">Events</a></li>
                <li><a href="./events/" ng-bind="event.details.TITLE"></a></li>
                <li class="active">Event Manifest</li>
            </ol>
        </div>
    </div>
    <!-- /.row -->

    <!--The Notion of Motion-->
    <div class="row">

        <!--Registered List________________________________________-->
        <div class="col-md-7">
            <md-content>
                <md-card>
                    <md-card-header class="card-header pop">                    
                        <md-card-header-text layout="row">
                            <div layout="row" flex>
                                <i class="material-icons">people</i>
                                <span class="md-title">Registered</span>
                            </div><div layout="column" layout-align="start start">
                                <span ng-bind="registered.length" style="font-size:24px;"></span>
                            </div>
                        </md-card-header-text>                        
                    </md-card-header>
                    <md-card-content flex>
                        <md-list ng-if="registered.length" flex>
                            <md-list-item class="md-3-line" ng-repeat="person in registered | orderBy: 'DOE'" ng-click="null">
                                <md-icon class="material-icons icon-edit" md-font-set="material-icons" style="color:green; font-size:30px;">check_circle</md-icon>
                                <div class="md-list-item-text" layout="column">
                                    <h3>{{ person.FULLNAME }}</h3>
                                    <h4><a href="mailto:{{person.EMAILADDRESS}}?subject={{event.details.TITLE}}" ng-bind="person.EMAILADDRESS"></a></h4>
                                    <p><a href="tel:1{{person.PHONENUMBER}}" ng-bind="person.PHONENUMBER"></a></p>
                                </div><div class="md-list-item-text" layout="column" layout-align="center end">
                                    <h4>{{person.USPALICENSE}} license | {{person.JUMPSLOGGED}} jumps</h4>
                                    <h4 style="color:green">PAID: {{person.AMOUNTPAID | currency}}</h4>
                                    <p>{{common.utility.odbcToNGDate(person.PAYMENTDATE)}}</p>
                                </div>
                            </md-list-item>
                        </md-list>
                        <p ng-if="!registered.length">No one has registered yet.</p>
                    </md-card-content>
                    <md-card-actions layout="row" layout-align="end center">
                        <!-- <md-button class="md-raised md-primary" flex ng-href="/about/">ABOUT US</md-button> -->
                    </md-card-actions>
                </md-card>  
            <md-content>            
        </div>

        <!--Reserve List________________________________________-->
        <div class="col-md-5">
            <md-content>
                <md-card flex>
                     <md-card-header class="card-header">
                        <md-card-header-text layout="row">
                            <div layout="row" flex>
                                <i class="material-icons">people</i>
                                <span class="md-title">Reserve List</span>
                            </div><div layout="column" layout-align="start start">
                                <span ng-bind="reserve.length" style="font-size:24px;"></span>
                            </div>
                        </md-card-header-text>                        
                    </md-card-header>
                    <md-card-content flex>
                        <md-list ng-if="reserve.length" flex>
                            <md-list-item class="md-3-line" ng-repeat="person in reserve | orderBy:'DOE':true" ng-click="null">
                                <md-icon class="material-icons icon-edit" md-font-set="material-icons">person</md-icon>
                                <div class="md-list-item-text" layout="column">
                                    <h3>{{ person.FULLNAME }}</h3>
                                    <h4><a href="mailto:{{person.EMAILADDRESS}}?subject={{event.details.TITLE}}" ng-bind="person.EMAILADDRESS"></a></h4>
                                    <p><a href="tel:1{{person.PHONENUMBER}}" ng-bind="person.PHONENUMBER"></a></p>
                                </div><div class="md-list-item-text" layout="column" layout-align="center end">
                                    <h4>{{person.USPALICENSE}} license | {{person.JUMPSLOGGED}} jumps</h4>
                                    <h4 style="color:red">PAID: {{person.AMOUNTPAID | currency}}</h4>
                                    <p>{{common.utility.odbcToNGDate(person.REGISTERDATE)}}</p>
                                </div>
                            </md-list-item>
                        </md-list>
                        <p ng-if="!reserve.length">No one has registered for the reserve list.</p>
                    </md-card-content>
                    <md-card-actions layout="row" layout-align="end center">
                        <!-- <md-button class="md-raised md-primary" flex ng-href="/about/">ABOUT US</md-button> -->
                    </md-card-actions>
                </md-card>  
            <md-content>            
        </div>
    </div>

  
    <hr>

    <!-- Footer -->
    <customfooter></customfooter>

</div>
<!-- /.container