Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Contact</h1>
            <ol class="breadcrumb">
                <li><a href="index.cfm">Home</a>
                </li>
                <li class="active">Contact</li>
            </ol>
        </div>
    </div>
    <!-- /.row -->

    <!-- Content Row -->
    <div class="row">
        <div class="col-md-7">
            <h3>Send us a Message</h3>
            <form name="contactForm" ng-submit="contactForm.$valid && sendMail()" class="cssSlideUp cssFade" ng-show="!mailStatus">                
                <div layout="column">
                    <!---FullName-->
                    <md-input-container>
                        <label>Name</label>
                        <input ng-model="contact.fullname" autofocus name="fullname" required minlength="2" maxlength="50">
                        <div ng-messages="contactForm.fullname.$error">
                            <div ng-message="required">Name is required.</div>
                            <div ng-message="minlength">Your name must be greater than 2 characters.</div>
                        </div>
                    </md-input-container>

                    <!--Email Address-->
                    <md-input-container>
                        <label>Email Address</label>
                        <input required ng-model="contact.emailaddress" name="emailaddress" minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/">
                        <div ng-messages="contactForm.emailaddress.$error">
                            <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                                Your email must be between 10 and 100 characters long and be valid.
                            </div>
                        </div>
                    </md-input-container>  

                    <!--Subject-->
                    <md-input-container>
                        <label>Subject</label>
                        <input ng-model="contact.subject" name="subject" required minlength="2" maxlength="20">
                        <div ng-messages="contactForm.subject.$error">
                            <div ng-message="required">Subject is required.</div>
                            <div ng-message="minlength">Subject must be at least 2 characters long.</div>
                        </div>
                    </md-input-container>

                    <!--Phone-->
                    <md-input-container>
                        <label>Message</label>
                        <textarea ng-model="contact.message" name="message" rows="5" md-select-on-focus required minlength="10" maxlength="600" md-minlength="10" md-maxlength="600"></textarea>
                        <div ng-messages="contactForm.message.$error">
                            <div ng-message="required">Message is required.</div>
                            <div ng-message="minlength">Message must be at least 10 characters long.</div>
                        </div>
                    </md-input-container>   

                    <!--ReCaptcha-->
                    <div class="control-group form-group">
                        <div vc-recaptcha theme="'light'" key="model.key" on-create="setWidgetId(widgetId)" on-success="setResponse(response)"></div>
                        <input type="hidden" class="form-control" name="grecaptcharesponse" ng-model="contactForm.grecaptcharesponse" required>
                    </div>
                    
                    <!--Submit Button-->
                    <md-button class="md-raised md-primary" type="submit" ng-disabled="!contactForm.$valid" aria-label="Submit" ng-cloak>Send Message</md-button>
                </div>             
            </form>

            <!--Success Message-->
            <div class="alert alert-success cssFade" ng-show="mailStatus">Thanks for contacting us. We will be in touch with you shortly.</div>
        </div>

        <!--Spacer-->
        <div class="col-md-1">
        </div>

        <!-- Contact Details Column -->
        <div class="col-md-4">
            <hr>
            <h3>Contact Details</h3>
            <p><i class="fa fa-phone"></i> 
                <abbr title="Phone">P</abbr>: 714.882.9214</p>
            <p><i class="fa fa-envelope-o"></i> 
                <abbr title="Email">E</abbr>: <a href="mailto:{{teammail}}">{{teammail}}</a>
            </p>
            <ul class="list-unstyled list-inline list-social-icons">
                <li>
                    <a href="{{socialurls.facebook}}" target="_blank"><i class="fa fa-facebook-square fa-2x"></i></a>
                </li><li>
                    <a href="{{socialurls.google}}" target="_blank"><i class="fa fa-google-plus-square fa-2x"></i></a>
                </li><li>
                    <a href="{{socialurls.youtube}}" target="_blank"><i class="fa fa-youtube-square fa-2x"></i></a>
                </li><li>
                    <a href="{{socialurls.instagram}}" target="_blank"><i class="fa fa-instagram fa-2x"></i></a>
                </li>
            </ul>
        </div>
    </div>
    <!-- /.row -->

   
    <hr>

    <!-- Footer -->
   <customfooter></customfooter>

</div>
<!-- /.container